body {
    font-family: system-ui;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2eae4;
}

header {
    background-color: #8c8c8b;
    color: #f2eae4;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #595958;
    color: #f2eae4;
    padding: 0.5rem;
    text-align: center;
}

nav ul {
    list-style-type:none ;
    padding: 0;
    margin: 10px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #f2eae4;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: #fbfbfd;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #40403e;
}

h3 {
    color: #404040;;
}

.section-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.source {
    font-size: 0.9em;
    color: #595958;
}

footer {
    background-color: #595958;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

#menuToggle {
    display: none;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    nav ul.show {
        display: block;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #menuToggle {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #595958;
        color: #f2eae4;
        border: none;
        cursor: pointer;
    }
}